* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  animation: normal;
}

/* Navbar */
nav {
  background: #234ad4;
  color: white;
  display: flex;
  justify-content: space-around;
  
  padding: 1%;
}

nav .logo{
  text-align: left;
  margin-left: -15%;
}

nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: -15%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  /* transition: 1s; */
}
nav .mainMenu li a:hover {
  color: #CC5500;
  text-transform: uppercase;
  font-weight: bold;
}
nav .openMenu {
  font-size: 1rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 1rem;
  display: none;
  cursor: pointer;
}

/* submit  */
.btn {
  background: transparent;
  width: 200px;
  position: relative;
  padding: 15px;
  color: #1e8acd;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;
  border: 2px solid #1e8acd;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover{
  background-color: #234ad4;
  color: white;
}

.nav-underline,
.nav-underline-about,
.nav-underline-contact,
.nav-underline-team {
  text-decoration: none;
  position: relative;
}

.nav-underline:hover:after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 42%;
  transform: translateX(-50%);
  background-color: #ff7518;
  width: 2rem;
  height: 2px;
  border-radius: 0.8rem;
}

.nav-underline-about:hover:after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 38%;
  transform: translateX(-50%);
  background-color: #ff7518;
  width: 2rem;
  height: 2px;
  border-radius: 0.8rem;
}

.nav-underline-contact:hover:after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 31%;
  margin-top: 20px; 
  margin-bottom: 20px;
  transform: translateX(-50%);
  background-color: #ff7518;
  width: 2rem;
  height: 2px;
  border-radius: 0.8rem;
  
}
.logo_name img{
  width: 30px;
  display: inline;
}
.logo_name {
  text-decoration: none;
}
.logo_name_dec {
  display: inline;
  color: black;
 
}
.logo_name_dec span{
  font-size:100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Home_Items */
.home_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  margin:4%;
  margin-left: 8%;

}

.small-image{
  width:100%;
}

/* About Section */
.about {
  background-color: #234ad4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 2em;
  margin: 5%;
  flex-direction: column;
}

.about-content {
  color: #fff;
  font-size: 1.6rem;
  justify-content: left;
  margin: 2px 2px 10px 2px;

}

.about-us-heading {
  margin-top: 24px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 3rem;
}



/*Category*/
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4%;
  
  
}
.category_heading {
  color: #234ad4;
  font-size: 4rem;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.role-section {
  padding: 3rem;
}

.role-section-heading {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.role-section-heading:after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #234ad4;
  width: 24rem;
  height: 3px;
  border-radius: 0.8rem;
}

.role-cards {
  display: flex;
  text-align: center;
  padding: 39px 10px 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.contributer-role-card {
  text-align: center;
  background-color: #234ad4;
  border-radius: 40px;
  box-shadow: 2px 0px 10px 0px #b1b1b1;
  width: 350px;
  height: 100%;
}

.contributer-role-card-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

.small-image{
  width: 50%;
}

.contributer-role-card-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
  
}

.mentor-role-card-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}

.mentor-role-card {
  background-color: #234ad4;
  text-align: center;
  border-radius: 40px;
  box-shadow: 2px 0px 10px 0px #b1b1b1;
  width: 350px;
  height: 100%;
}

.mentor-role-card-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 500;
}

/* Contact */
.contact {
  display: flex;  
  background-color: #234ad4;
  height: 96%;
  width: 96%;
  /* justify-content: center;
  align-items: center; */
  /* padding: 10rem; */
  border-radius: 2rem;
  margin: 2%;
}


.contact-section {
  display: flex;
  flex-direction: row;
}

.contact-us {
  
  text-align: center;
  
}
.contact-us label{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contact-us-section {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #ffffff;
  width: 60rem;
  height: 15rem;
  justify-content: center;
  margin-left: 15px;

}
.contact-container {
  
  flex : 1 ;
  /* flex-direction: row;
  justify-content: space-around; */
  
  width: 48%;
  /* height:50vh; */

  margin:3%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2rem;  

}

.contact-container:first-child{
  align-items: center;
  align-content: center;
}

.input-small{
  border-radius: 5px;
}



@media (min-width:800px) {
  
  .about{
    flex-direction: row;
  } 
  .small-image{
    width:auto;
  }
  .contact-us-section {
    width: 40rem;
  }
  .contact-container{
    padding: 5px;
  }
}


/* //phone loose */
@media (max-width: 800px) {
  .hide{
    display: none;
  }

  nav {
    justify-content: space-evenly;
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #234ad4;
    color: #fff;
    transition: top 0.5s ease;
    align-items: center;
    display: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
    
  }
  nav .mainMenu li a {
    color: #fff;
    font-weight: bold;
  }
  nav .mainMenu li a:hover {
    color: white;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  input {
    border: none;
    outline: none;
    padding: 10px 5px;
    background-color: #f6f6f6;
    flex: 1;
  }

  .input {
    background-color: #f6f6f6;
    padding: 0px 5px;
    border: 2px solid rgba(216, 216, 216, 1);
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
  }
  

/* About Section */
.about {
  background-color: #234ad4;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 2em;
  margin: 5%;
  flex-direction: column;
}

.about-content {
  color: #fff;
  font-size: .8rem;
  justify-content: left;
  margin: 2px 2px 10px 2px;

}

.about-us-heading {
  margin-top: 24px;
  color: #fff;
  font-size: 2rem;
}

.category_heading {
  font-size: 24px;
}

.contributer-role-card {
  width: 250px;
  height: 100%;
}
.mentor-role-card{
  width: 250px;
  height: 100%;
}

.contact{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container{
  width:80%;
}

.contact-us-section{
  height: auto;
  width:70%;
  padding:5px;
}

.input-small{
  width:90%;
}

}
/* phone loose */